* {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
-webkit-overflow-scrolling: touch;
}

html, body {
height: auto;
font-family: 'laila', sans-serif;
position: relative;
}


/*Responsive Navigation*/

.handle {
width: 100%;
background: rgba(0, 0, 0, 0.7);
text-align: left;
box-sizing: border-box;
padding: 10px;
cursor: pointer;
color: #fff;
display: none;
font-size: 35px;
}


/*Desktop navigation*/


header {
width: 100%;
height: 100vh;
background: url(img/IMG_0718.jpg) no-repeat;
background-size: cover;
background-position: center;
}


.logo {
position: fixed;
float: left;
top: 10px;
left: 20px;
}

.logo-home {
display: none;
}

nav {
position: fixed;
width: 100%;
z-index: 1000;
}

nav ul {
color: #fff;
text-align: right;
padding: 15px;
transition: 1000ms;
}

nav.white ul {
background: #fff;
border-bottom: 2px solid black;
}

nav.white ul li a {
color:  #000;
}

nav ul li {
display: inline-block;
padding: 16px 40px;
}

nav ul li a {
text-decoration: none;
color: #fff;
font-size: 24px;
transition: 500ms;
}

nav ul li a:hover {
color: darkkhaki;
}



/*Home Section*/

.home {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: relative;
}

.home h1 {
text-align: center;
color: #fff;
font-size: 50px;
padding: 0 75px;
background: rgba(0,0,0,0.7);
width: 80vw;
}

/*About section*/

.about section {
display: flex;
flex-direction: row;
height: auto;
background-color: snow;
border-bottom: 5px solid black;
border-top: 5px solid black;
}

.para-one {
display: flex;
width: 50%;
flex-direction: column;
margin-top: 60px;
margin-bottom: 60px;
}

.para-two {
display: flex;
width: 50%;
flex-direction: column;
margin-top: 60px;
margin-bottom: 60px;
}

.about h2 {
text-align: center;
font-family: 'Laila', sans-serif;
font-size: 50px;
color: #000;
margin-top: 30px;
}

.about h2::after {
content: '';
width: 30%;
height: 2px;
background: #414141;
display: block;
margin: 0.4em auto 0
}

.about section p {
font-size: 25px;
padding: 20px;
flex: 1 1 0;
line-height: 2;
color: #000;
font-family: 'Noto Sans', sans-serif;
text-align: center;
}


/*Menu Section*/

.menu-section {
border-bottom: 5px solid black;
background: url(img/secondbackground.jpg) no-repeat;
background-size: cover;
background-position: center;
height: auto;
padding-top: 100px;
padding-bottom: 100px;
padding-left: 25px;
padding-right: 25px;
}

.menu-wrapper {
background: rgba(0,0,0,0.7);
width: 80vw;
text-align: center;
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 auto;
position: relative;
top: 20%;
object-fit: contain;
}

.menu-section h2 {
text-align: center;
font-family: 'Laila', sans-serif;
font-size: 50px;
color: #fff;
}

.menu-section h2::after {
content: '';
width: 100%;
height: 3px;
background: #fff;
display: block;
margin: 0.4em auto 0
}

.menu-section h3 {
text-align: center;
font-family: 'Noto Sans', sans-serif;
font-size: 30px;
text-transform: capitalize;
color: #fff;
padding: 30px;
}

.menus {
display: flex;
padding: 20px;
flex-wrap: wrap;
}

.menu-item {
flex-direction: row;
background-color: rgba(155, 155, 155, 0.5);
color: #fff;
width: auto;
height: auto;
border-radius: 10px;
transition: all 500ms;
margin: 20px;
}

.menu-item:hover {
background-color: rgba(155, 155, 155, 0.8);
}

.menus a {
padding: 15px;
text-decoration: none;
font-size: 25px;
text-transform: capitalize;
font-family: 'Laila', sans-serif;
}

/*Image Gallery*/

.photo-gallery {
background-color: snow;
}

.photo-gallery h2 {
text-align: center;
font-family: 'Laila', sans-serif;
font-size: 70px;
color: #000;
text-transform: capitalize;
padding: 100px 30px 70px 30px;
}

.photo-gallery h2::after {
content: '';
width: 40%;
height: 3px;
background: #414141;
display: block;
margin: 0.4em auto 0
}

/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: 0 auto;
font-family: 'noto-sans', sans-serif;
text-transform: uppercase;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 30px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #ffff;
font-size: 24px;
padding: 10px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
background: rgba(0,0,0,0.7);
}

/* Number text (1/3 etc) */
.numbertext {
color: #fff;
font-size: 18px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: black;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: khaki;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/*Contact Section*/

.contact {
background-image: url("img/IMG_0714.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.contact section {
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: nowrap;
padding: 20px;
background-color: rgba(0, 0, 0, 0.8);
}

.contact h3 {
font-family: 'Laila', sans-serif;
font-size: 35px;
color: #fff;
padding: 40px;
text-transform: lowercase;
}

.contact h3::after {
content: '';
width: 100%;
height: 3px;
background: #fff;
display: block;
margin: 0.4em auto 0
}

.map {
display: flex;
justify-content: center;
padding-top: 30px;
padding-bottom: 30px;
}

section a {
text-decoration: none;
color: #fff;
font-family: 'noto sans', sans-serif;
font-size: 24px;
transition: color 300ms;
}

section a:hover {
color: khaki;
}

.contact address {
color: #fff;
font-family: 'noto sans', sans-serif;
font-size: 20px;
}

/*footer Section*/

.footer {
display: flex;
justify-content: space-around;
padding: 15px;
background-color: snow;
border-top: 3px ridge #000;
font-family: 'Noto Sans', sans-serif;
}

.footer p {
color: #000;
font-family: 'Laila', sans-serif;
font-size: 18px;
}

.footer p a {
text-decoration: none;
color: darkgreen;
}

.footer p a:hover {
border-bottom: 1px solid black;
}

/*Loading Spinner*/


#overlay {
height: 100%;
width:100%;
background: rgba(155, 155, 155,0.9);
position: fixed;
left: 0;
top: 0;
display: flex;
justify-content: center;
}

.spinner {
width: 100px;
height: 100px;
border: 5px solid #fff;
border-top-color: darkgreen;
border-radius: 100%;
margin-top: 500px;
animation: round 1s linear infinite;
}

@keyframes round {
from{transform: rotate(0deg)}
to {transform: rotate(360deg)}
}



/*Media Queries*/

@media only screen and (max-width: 1200px) {

nav ul {
background-color: black;
display: none;
}

nav ul li {
width: 100%;
box-sizing: border-box;
padding: 10px;
text-align: center;
}

nav ul li a:hover {
color: khaki;
}

nav.white ul {
background-color: black;
}

nav.white ul li a {
color:  #fff;
}

nav.white ul li a:hover {
color: khaki;
}

.handle {
display: block;
}

.logo img {
display: none;
}

.logo-home {
display: block;
position: absolute;
margin: 0 auto;
top: -200px;
background: rgba(155,155,155,0.9);
}

.logo-home img {
max-width: 100%;
padding: 30px;
}

.home {
top: 50%;
}

.home h1 {
font-size: 30px;
margin-top: 50px;
}

.photo-gallery h2 {
font-size: 50px;
}

.contact section {
display: flex;
justify-content: center;
flex-direction: column;
}

.menus a {
font-size: 20px;
}
}


@media only screen and (max-width: 767px) {


.home h1 {
font-size: 35px;
padding: 15px;
width: 100vw;
}


.about h2 {
font-size: 35px;
}

.about section {
display: flex;
flex-direction: column;
justify-content: center;
}
    
.para-one {
margin-top: 30px;
margin-bottom: 30px;
}

.para-two {
margin-top: 30px;
margin-bottom: 30px;
}

.about section p {
font-size: 20px;
}

.menus {
display: flex;
justify-content: center;
flex-direction: column;
}

.menus a {
margin-top: 20px;
}

.menu h3 {
font-size: 20px;
}

.para-one {
width: 100%;
}

.para-two {
width: 100%;
}

.para-two {
margin-top: -20px;
}

.photo-gallery h2 {
font-size: 30px;
}

.footer {
flex-direction: column;
width: auto;
align-items: center;
}

iframe {
width: 90%;
height: 90%;
}
}

@media only screen and (max-width: 425px) {

.home h1 {
font-size: 30px;
padding: 12px;
width: 100vw;
}

.about h2 {
font-size: 25px;
}

.about section p {
font-size: 15px;
padding-bottom: 20px !important;
}

.about section {
display: flex;
justify-content: center;
flex-direction: column;
width: 100%;
}

.footer p {
font-size: 14px;
}

iframe {
width: 70%;
height: 70%;
}
}

@media only screen and (min-width: 1201px) {
nav ul {
display: block !important;
}
}
